/.GoalDSLDescriptionLabelProvider.java._trace
/.GoalDSLDescriptionLabelProvider.xtendbin
/.GoalDSLLabelProvider.java._trace
/.GoalDSLLabelProvider.xtendbin
/GoalDSLDescriptionLabelProvider.java
/GoalDSLLabelProvider.java
