<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.uwo.ca/goal/GoalDSL"
			class = "ca.uwo.goal.goalDSL.GoalDSLPackage"
			genModel = "model/generated/GoalDSL.genmodel" />
	</extension>
</plugin>
